body {
    background-color: black;
    color: #fff;
}

.profile-img {
    width: 150px;
    border-radius: 100%;
}

.skill-title {
    font-size: 2em;
}

.skill-first-title {
    color: blueviolet;
}

.skill-second-title {
    color:chartreuse;
}